body{
   background: #2e9b2a;
background: linear-gradient(90deg,rgba(46, 155, 42, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
background-attachment: fixed;
margin:0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#regis{
    background-color: whitesmoke;
    width:400px;
    margin:20vh auto auto;
    border-radius: 10px;
    padding: 35px;
}
h1{
    text-align: center;
    color: darkgreen;

}
button{
    width:100%;
    color: white;
    background-color: darkgreen;
    padding: 10px;
    margin:20px 0px;
    border-radius: 15px;
    border:solid;
    font-size: 20px;
    cursor: pointer;
}
.input-class{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}
.input-class input{
    padding:10px;
    font-size: 20px;
    border: 5px;
    border: solid;
    border-color:greenyellow;

}
.input-class input:focus{
    outline: 0;
}
.input-class .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-class.success input{
    border-color:#2e9b2a;
}
.input-class.error input{
    border-color: red;
}
