*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
    background-color: #ecf0f3;
    outline: none;
}
.container{
    height: 100vh;
   display: flex;
    align-items: center;
    justify-content: center;


}
.Calculator
{
    border-radius: 30px;
    padding: 20px;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 12px #ffff,
                      5px 5px 12px black;
    display: grid;
                    
    grid-template-columns: repeat(4,68px);

}
input{
    grid-column: span 4;
    width: 260px;
    height:70px;
    text-align: end;
    background-color: #ecf0f3;
    border: none;
    padding: 25px;
    box-shadow: inset -5px -5px 12px #ecf0f3,inset 5px 5px 12px rgb(0,0,0,.16);
    border-radius: 30px;
    font-size:50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    color: grey;
    

}
button{
    background-color: #ecf0f3;
    width:48px ;
    height: 48px;
    border-radius: 50%;
    border: none;
     box-shadow: inset -5px -5px 12px #ecf0f3,inset 5px 5px 12px rgb(0,0,0,.16);
     margin: 8px;
     font-size: 22px;

}
.equal
{
    width:100px;
    border-radius: 15px;
}