
body{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(4, 4, 69);
}
.container{
    border:5px solid;
    border-radius: 3px;
    height:80vh;
    width:60%;
    margin: 4em auto;
    border-color: green;
    box-shadow: 8px 8px 20px yellowgreen;
                   
    position: relative;
    background: url("image\ 1.jpeg") center/cover fixed no-repeat;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 42px;
    text-align: center;
    color: yellow;
}
.btn-left{
    position: relative;
    top:50%;
    left:-2%;
    padding:15px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
   
}    
.btn-right{
    position: relative;
    top:50%;
    left:92%;
    padding:15px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    
}    
    